<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>MOVIE DATABASE - Home Page</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
</head>
<body>
		
	<div layout:fragment="content">
	   
		<div class="container">
		
		<h2>Lowest rated <span th:text="${type}">type</span> feature film</h2>
		<table class="table table-hover">
			<p>SORT BY:
				<a th:href="@{/movie/sort-rating}" class="dropup"><strong><ins>Rating</ins></strong><span class="caret"></span></a>
				<span>|</span>
				<a th:href="@{/movie/sort-year}">Release Year</a>
			</p>
			<tbody>
				<tr>
					<th></th><th>Title</th><th>Rating</th>
				</tr>
				<tr th:each="movie : ${movies}">
					<td><a th:href="@{/movie/} + ${movie.id}"><img th:src="${movie.poster}"/></a></td>
					<td><a th:href="@{/movie/} + ${movie.id}" th:text="${movie.title + ' (' + movie.year + ')'}">Movie Name</a></td>
					<td th:text="${movie.rating}">Movie Rating</td>
				</tr>
			</tbody>
		</table>
		
		</div>
		
		<p th:if="${movies.size() == 0}">
			<div class="alert alert-warning" role="alert">No Movies Found.</div>
		</p>
		
	</div>
		
</body>
</html>