<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymleaf.org"
	layout:decorator="layouts/main">
<head>
	<meta http-equiv="Cache-Control" content="public" />
	<meta http-equiv="max-age" content="31536000" />
	<title>MOVIE DATABASE - Home Page</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<style type="text/css">
		img {
			width: 48px;
			height: 64px;
		}
	</style>
</head>
<body>
		
	<div layout:fragment="content">
	   
		HOME PAGE
		
	</div>
		
</body>
</html>