<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymleaf.org"
	layout:decorator="header/main">
<head>
	<title>MOVIE DATABASE - Home Page</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
</head>
<body>
		
	<div layout:fragment="content">
	   
		<div class="container">
		
		<h2>Movie lists</h2>
		<table class="table table-hover">
			<tbody>
				<tr>
					<th></th><th>Title</th><th>Year</th><th>Rating</th>
				</tr>
				<tr th:each="movie : ${movies}">
					<td><a th:href="|@{/movie/}${movie.id}|"><img th:src="${movie.poster}"/></a></td>
					<td><a th:href="|@{/movie/}${movie.id}|" th:text="${movie.title}">Movie Name</a></td>
					<td th:text="${movie.year}">Movie Year</td>
					<td th:text="${movie.rating}">Movie Rating</td>
				</tr>
			</tbody>
		</table>
		
	</div>
		
	</div>
		
</body>
</html>