<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>MOVIE DATABASE - Home Page</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<style type="text/css">
		img {
			width: 48px;
			height: 64px;
		}
	</style>
</head>
<body>
		
	<div layout:fragment="content">
	   
		<div class="container">
		
		<h2>Result for "<span th:text = "${searchedText}">Searched text</span>"</h2>
		<table class="table table-hover">
			<h3>Titles</h3>
			<tbody>
				<tr th:if="${movies.size() != 0}">
					<th></th><th>Title</th><th>Rating</th>
				</tr>
				<tr th:each="movie : ${movies}">
					<td><a th:href="@{/movie/} + ${movie.id}"><img th:src="${movie.poster}"/></a></td>
					<td><a th:href="@{/movie/} + ${movie.id}" th:text="${movie.title + ' (' + movie.year + ')'}">Movie Name</a></td>
					<td th:text="${movie.rating}">Movie Rating</td>
				</tr>
			</tbody>
		</table>
		
		<p th:if="${movies.size() == 0}">
			<div class="alert alert-warning" role="alert">No Movies Found.</div>
		</p>
		
		<table class="table table-hover">
			<h3>Names</h3>
			<tbody>
				<tr th:each="actor : ${actors}">
					<td><a th:href="@{/actor/} + ${actor.id}"><img th:src="${actor.profilePic == null} ? @{/images/placeholder.jpg} : ${'https://image.tmdb.org/t/p/w1000' + actor.profilePic}"/></a></td>
					<td><a th:href="@{/actor/} + ${actor.id}" th:text="${actor.name}">Actor Name</a></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		
		<p th:if="${actors.size() == 0}">
			<div class="alert alert-warning" role="alert">No Actors Found.</div>
		</p>
		</div>
	</div>
		
</body>
</html>